<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/cdPlayer.css}"/>
<div th:fragment="cdPlayer" id="cdPlayer" class="cd-player-bar d-flex align-items-center text-white fs-4">
    <!--============= CD Player =================== -->
    <div id="cd" class="d-flex justify-content-center align-items-center" style="flex: 1 1 0;">
        <div class="CD" style="max-width: 400px;">
            <img src="https://png.pngtree.com/png-clipart/20230303/ourmid/pngtree-vinyl-records-png-image_6629914.png"
                 alt="Main Cover" class="main-image"/>
            <img id="trackImg"
                 src="https://img.icons8.com/ios11/512/F25081/spotify.png"
                 class="overlay-image"/>
        </div>
    </div>

    <!-- =============== คุมเพลง ==================== -->
    <div class="position-relative d-flex flex-column text-center justify-content-center" style="flex: 1 1 0;">
        <div class="marquee-container my-0 mx-auto">
            <p id="trackSong" class="m-0 marquee-text">No track playing</p>
        </div>
<!---------------track controll-----------------      -->
        <div class="d-flex justify-content-center gap-3">
            <button style="background-color: initial;" id="previous" onclick="buttonPreviousTrack()"><</button>
            <button style="max-width: 120px; background-color: initial;" id="togglePlay" onclick="buttonTogglePlay()">play</button>
            <button style="background-color: initial;" id="next" onclick="buttonNextTrack()">></button>
        </div>
<!-----------------track progressbar------------        -->
        <div class="justify-content-center progress-section">
            <input type="range" id="progressBar" value="0" min="0" step="1"/>
            <div>
                <span id="currentTime">0:00</span> / <span id="totalTime">0:00</span>
            </div>
        </div>
    </div>

    <!-- ช่องที่ 3 -->
    <div class="track-next d-flex flex-column text-center align-items-center justify-content-center" style="flex: 1 1 0;">
        <!-- ปุ่ม X -->
<!--        <button onclick="closeCDplayer()"-->
<!--                style="-->
<!--            position: absolute;-->
<!--            top: 2px;-->
<!--            right: 2px;-->
<!--            z-index: 10;-->
<!--            background-color: transparent;-->
<!--            border: none;-->
<!--            font-size: 50px;-->
<!--            color: white;-->
<!--          ">-->
<!--            &times;-->
<!--        </button>-->


        <p class="m-0">next track</p>
        <img id="nextTrackImg" src="https://img.icons8.com/ios11/512/F25081/spotify.png" width="80" height="80"/>
        <div class="marquee-container mx-auto">
            <p id="nextTrackName" class="marquee-text m-0">no next</p>
        </div>
    </div>
</div>


<script src="https://sdk.scdn.co/spotify-player.js"></script>


<script th:inline="javaScript">
    let isReady = false;
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = /*[[${session.spotifyToken}]]*/ '';
        console.log("token: ", token);
        if (token == '' || token == null) {
            console.error("Spotify token is missing.");
            return;
        }
        const player = new Spotify.Player(
            {
                name: 'Spytifo',
                getOAuthToken: cb => {
                    cb(token);
                },
                volume: 0.5
            });


        // Error handling
        player.addListener('initialization_error', ({message}) => {
            console.error(message);
        });
        player.addListener('authentication_error', ({message}) => {
            console.error(message);
        });
        player.addListener('account_error', ({message}) => {
            console.error(message);
        });
        player.addListener('playback_error', ({message}) => {
            console.error(message);
        });

        player.addListener('ready', ({device_id}) => {
            console.log('Cd player ready for playing music', device_id);
            transferPlayback(token, device_id);
            window.player = player;
            window.device_ids = device_id;
        });


        player.addListener('not_ready', ({deviceId}) => {
            console.log('This ID has gone offline', deviceId);
        });


        player.connect().then(success => {
            if (success) {
                console.log('Connected!');
                isReady = true;
                window.player = player;
            }
        }).catch(err => {
                console.log(err)
            }
        );
        // window.device_ids={device_id};

        player.addListener('player_state_changed', state => {

            const img = state?.track_window?.current_track?.album?.images[0]?.url || null;
            const trackNext = state?.track_window?.next_tracks[0] || null;
            const imgNext = trackNext?.album?.images[0]?.url || null;
            const nameNext = trackNext?.name;
            console.log(state);
            const text = document.getElementById("trackSong");
            if (text) {
                text.textContent = `${state.track_window.current_track.name}`;
                if(state.paused){
                    updateMarquee("trackSong",true);
                }else{
                    updateMarquee("trackSong",false);
                }

                // text.textContent = `${state.track_window.current_track.name}`;
            }

            const trackImg = document.getElementById("trackImg");
            if (trackImg) {
                trackImg.src = img || "https://img.icons8.com/ios11/512/F25081/spotify.png";
            }

            // next track
            const nextTrackImg = document.getElementById("nextTrackImg");
            const nextTrackName = document.getElementById("nextTrackName");
            if (nextTrackImg && nextTrackName && imgNext != null && nameNext != null) {
                nextTrackImg.src = imgNext || "https://img.icons8.com/ios11/512/F25081/spotify.png";
                nextTrackName.textContent = nameNext || "no next";
                updateMarquee("nextTrackName",false);
            }

            const cd = document.getElementById("cd");
            const playPause = document.getElementById("togglePlay");
            if (state.paused) {
                playPause.textContent = "play";
                cd.classList.remove("spin")

            } else {
                playPause.textContent = "pause";
                cd.classList.add("spin");
            }

        });


        window.buttonTogglePlay = function () {
            player.togglePlay().then(() => {
                console.log('playback');
            });
        }

        window.buttonPreviousTrack = function () {
            player.previousTrack().then(() => {
                console.log('Set to previous track!');
            });
        }

        window.buttonNextTrack = function () {
            player.nextTrack().then(() => {
                console.log('Let\'s go to next Track');
            })
        }


    }


    //connect player
    function transferPlayback(token, deviceId) {
        fetch('https://api.spotify.com/v1/me/player', {
            method: 'PUT',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(
                {
                    device_ids: [deviceId],
                    play: true
                })
        });
    }


    //==============setAnimation , interval============
    // เรียกทุก 1 วินาทีเพื่ออัปเดต progress
    setInterval(() => {
        // console.log(window.player);
        if (window.player && isReady) {
            player.getCurrentState().then(state => {
                // console.log("callSetInterval");

                if (!state) return;

                const progressMs = state.position; // ตำแหน่งปัจจุบัน (ms)
                const durationMs = state.duration; // ความยาวเพลงทั้งหมด (ms)

                // แสดงบน progress bar
                const progressBar = document.getElementById('progressBar');
                progressBar.max = durationMs;
                progressBar.value = progressMs;

                // แสดงเวลา
                document.getElementById('currentTime').textContent = formatTime(progressMs);
                document.getElementById('totalTime').textContent = formatTime(durationMs);
            });
        }
    }, 1000); // ทุก 1 วินาที

    // แปลง ms เป็น mm:ss
    function formatTime(ms) {
        const minutes = Math.floor(ms / 60000);
        const seconds = Math.floor((ms % 60000) / 1000);
        return `${minutes}:${seconds.toString().padStart(2, '0')}`;
    }

    //=======ปรับเวลาเพลงจาจ้า=========
    document.getElementById('progressBar').addEventListener('input', function () {
        const newPosition = parseInt(this.value);
        window.player.seek(newPosition).then(() => {
            console.log(`seeked to ${newPosition}`)
        })
    })


    function updateMarquee(Id,paused) {
        const container = document.querySelector('.marquee-container');
        const text = document.getElementById(Id);

        // ลบ class เก่าทิ้งก่อน
        text.classList.remove('marquee-animate');
        text.classList.add('marquee-text');

        // รอให้ DOM อัปเดตก่อนเช็กขนาด (เผื่อข้อความยังไม่วาด)
        if(!paused){
            setTimeout(() => {
                if (text.scrollWidth > container.clientWidth) {
                    text.classList.add('marquee-animate');
                }
            }, 100); // delay เล็กน้อยให้ DOM ทัน render
        }
    }


    ////=======================trash===========================///
    ////======check Did this account connect page นี้รึยังจ้ะหนู========
    /*
        window.getStatePlayer = function () {
            player.getCurrentState().then(state => {
                if (!state) {
                    console.error('User is not playing music through the Web Playback SDK');
                    return;
                }
                var current_track = state.track_window.current_track;
                var next_track = state.track_window.next_tracks[0];

                console.log(state);
                return state;
            });
        }
    */


</script>

</html>