<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<link rel="stylesheet" th:href="@{/css/cdPlayer.css}"/>
<div th:fragment="cdPlayer" class="cd-player-bar">
    <div id="cd" class="image-container">
        <!-- ภาพพื้นหลังหรือภาพหลัก -->
        <img src="https://png.pngtree.com/png-clipart/20230303/ourmid/pngtree-vinyl-records-png-image_6629914.png"
             alt="Main Cover" class="main-image"
        />

        <!-- ภาพที่ทับด้านบน -->
        <img id="trackImg"
             src=""
             class="overlay-image"
        />
    </div>
<!-- ==========================================   -->
    <div class="track-controler">
        <p id="trackSong">No track playing</p>
        <!-- แถบเล่นเพลง -->
        <div class="controls">
            <button class="btn-clear" id="previous" onclick="buttonPreviousTrack()"><</button>
            <button class="btn-clear" style="width: 120px" id="togglePlay" onclick="buttonTogglePlay()">play</button>
            <button class="btn-clear" id="next" onclick="buttonNextTrack()">></button>
        </div>
        <div style="width: 100%; max-width: 400px;" class="progress-section">
            <input type="range" id="progressBar" value="0" min="0" step="1" />
            <div>
                <span id="currentTime">0:00</span> / <span id="totalTime">0:00</span>
            </div>
        </div>
    </div>
<!--  ===============================================  -->
    <div class="track-next">
        <p>next track</p>
        <img id="nextTrackImg" url="https://img.icons8.com/ios11/512/F25081/spotify.png" width="80px" height="80px">
        <p id="nextTrackName">name</p>
    </div>


</div>

<script src="https://sdk.scdn.co/spotify-player.js"></script>

<script th:inline="javaScript">
    let isReady = false;
    window.onSpotifyWebPlaybackSDKReady = () => {
        const token = /*[[${session.spotifyToken}]]*/ '';
        if (token == '') {
            console.error("Spotify token is missing.");
            return;
        }
        const player = new Spotify.Player(
            {
                name: 'Spytifo',
                getOAuthToken: cb => {
                    cb(token);
                },
                volume: 0.5
            });
        player.connect().then(success => {
            if (success) {
                console.log('Connected!');
                isReady = true;
                window.player = player;
            }
        });
        // window.device_ids={device_id};

        player.addListener('ready', ({device_id}) => {
            console.log('Cd player ready for playing music', device_id);
            transferPlayback(token, device_id);
            window.player = player;
            window.device_ids = device_id;
        });


        player.addListener('not_ready', ({deviceId}) => {
            console.log('This ID has gone offline', deviceId);
        })


        player.addListener('player_state_changed', state => {
            const img = state?.track_window?.current_track?.album?.images[0]?.url||null;
            const trackNext = state?.track_window?.next_tracks[0]||null;
            const imgNext = trackNext?.album?.images[0]?.url||null;
            const nameNext = trackNext?.name;
            // console.log(trackNext);

            const text = document.getElementById("trackSong");
            if (text) {
                text.textContent = `${state.track_window.current_track.name}`;
            }

            const trackImg = document.getElementById("trackImg");
            if (trackImg) {
                trackImg.src = img || "";
            }

            // next track
            const nextTrackImg = document.getElementById("nextTrackImg");
            const nextTrackName = document.getElementById("nextTrackName");

            if(nextTrackImg&&nextTrackName&&imgNext!=null&&nameNext!=null){
                nextTrackImg.src = imgNext;
                nextTrackName.textContent=nameNext;
            }else {
                nextTrackImg.src = "https://img.icons8.com/ios11/512/F25081/spotify.png" ;
                nextTrackName.textContent="no next";
            }


            const cd = document.getElementById("cd");
            const playPause = document.getElementById("togglePlay");
            if (state.paused) {
                playPause.textContent = "play";
                cd.classList.remove("spin")

            } else {
                playPause.textContent = "pause";
                cd.classList.add("spin");
            }

        });


        window.buttonTogglePlay = function () {
            player.togglePlay().then(() => {
                console.log('playback');
            });
        }

        window.buttonPreviousTrack = function () {
            player.previousTrack().then(() => {
                console.log('Set to previous track!');
            });
        }

        window.buttonNextTrack = function () {
            player.nextTrack().then(() => {
                console.log('Let\'s go to next Track');
            })
        }


    }


    //connect player
    function transferPlayback(token, deviceId) {
        fetch('https://api.spotify.com/v1/me/player', {
            method: 'PUT',
            headers: {
                'Authorization': `Bearer ${token}`,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(
                {
                    device_ids: [deviceId],
                    play: true
                })
        });
    }


    //==============setAnimation , interval============
    // เรียกทุก 1 วินาทีเพื่ออัปเดต progress
    setInterval(() => {
        // console.log(window.player);
        if (window.player && isReady) {
            player.getCurrentState().then(state => {
                // console.log("callSetInterval");

                if (!state) return;

                const progressMs = state.position; // ตำแหน่งปัจจุบัน (ms)
                const durationMs = state.duration; // ความยาวเพลงทั้งหมด (ms)

                // แสดงบน progress bar
                const progressBar = document.getElementById('progressBar');
                progressBar.max = durationMs;
                progressBar.value = progressMs;

                // แสดงเวลา
                document.getElementById('currentTime').textContent = formatTime(progressMs);
                document.getElementById('totalTime').textContent = formatTime(durationMs);
            });
        }
    }, 1000); // ทุก 1 วินาที

    // แปลง ms เป็น mm:ss
    function formatTime(ms) {
        const minutes = Math.floor(ms / 60000);
        const seconds = Math.floor((ms % 60000) / 1000);
        return `${minutes}:${seconds.toString().padStart(2, '0')}`;
    }

    //=======ปรับเวลาเพลงจาจ้า=========
    document.getElementById('progressBar').addEventListener('input', function () {
        const newPosition = parseInt(this.value);
        window.player.seek(newPosition).then(() => {
            console.log(`seeked to ${newPosition}`)
        })
    })


    ////=======================trash===========================///
    ////======check Did this account connect page นี้รึยังจ้ะหนู========
    /*
        window.getStatePlayer = function () {
            player.getCurrentState().then(state => {
                if (!state) {
                    console.error('User is not playing music through the Web Playback SDK');
                    return;
                }
                var current_track = state.track_window.current_track;
                var next_track = state.track_window.next_tracks[0];

                console.log(state);
                return state;
            });
        }
    */


</script>

</html>