<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" th:href="@{/css/style.css}"/>
<div th:fragment="profileSidebar">
    <div id="sidebar"
         class="sidebar row fs-4"
    >
        <div class="col-12 d-flex">
            <button class="col-2 " style="background-color: initial;" onclick="closeSidebar()"><<</button>
        </div>
        <!--        <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>-->
        <th:block th:if="${session.userData!=null}">
            <div class="text-center mb-4">
                <th:block class="col-12 " th:if="${session.userData.images[0]!=null}">
                    <img th:src="${session.userData.images[0].url}" alt="User Image"
                         style="width: 100px; height: 100px; object-fit: cover;"/>
                </th:block>
                <div class="mb-3">
                    <p><strong  th:text="${session.userData.display_name}"></strong></p>
                    <p><strong>Email </strong> <br/><span th:text="${session.userData.email}"></span></p>
                    <p><strong>Country </strong> <br/><span th:text="${session.userData.country}"></span></p>
                    <p><strong>Product </strong><br/><span th:text="${session.userData.product}"></span></p>
                    <a href="/logout">
                        <button>
                            logout
                        </button>
                    </a>
                </div>
            </div>
        </th:block>
        <th:block th:unless="${session.userData!=null}">
            <p>please login</p>
        </th:block>

        <!-- ========================= followed artist ================================       -->
        <th:block th:if="${session.artists!=null}">
            <div class="text-center">
                <h4>Your lasted followed artist</h4>
                <div class="row mb-3">
                    <th:block th:each="artist, iterStat : ${session.artists.items}">
                        <th:block th:if="${iterStat.index < 3}">
                            <div class="col-4 text-center">
                                <img th:src="${artist.images[0].url}" class="img-fluid rounded-circle mb-2"
                                     style="width: 80px; height: 80px; object-fit: cover;"/>
                                <p class="mb-1" th:text="${artist.name}"></p>
                            </div>
                        </th:block>
                    </th:block>
                </div>

                <div class="row">
                    <th:block th:each="artist, iterStat : ${session.artists.items}">
                        <th:block th:if="${iterStat.index >= 3 and iterStat.index < 5}">
                            <div class="col-6 text-center">
                                <img th:src="${artist.images[0].url}" class="img-fluid rounded-circle mb-2"
                                     style="width: 100px; height: 100px; object-fit: cover;"/>
                                <p class="mb-1" th:text="${artist.name}"></p>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </th:block>


        <th:block th:unless="${session.artists!=null}">
            <p>you didn't follow any artist</p>
        </th:block>


    </div>
</div>