html{
    height: 100%;
}
body {
    /*background-color: #252424;*/
    /*background: linear-gradient(to bottom right, #191818 0%, #252424 70% , #654457 100%  );*/
    background: linear-gradient(
            to bottom right,
            rgba(25, 24, 24) 0%,
            rgba(37, 36, 36) 70%,
            rgb(108, 60, 90) 100%
    );
    background-attachment: fixed; /* <<< ตัวนี้สำคัญ */
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: bold;
    height: 100%;
}
/*background: linear-gradient(to bottom right, #252424 0%, #262a26 70% ,#28a745 100%  );*/

button {
    /*background-color: #28a745;*/
    background-color: #f05080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-family: system-ui;
    font-weight: bold;

}

#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80vw;
    margin: 2rem auto;
    padding: 1.5rem;
    border: 1px solid #ffb1c7;
    border-radius: 10px;
    /*background-color: #2a2629;*/
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 1rem;
    color: #f05080;
}

label {
    font-weight: bold;
    margin-bottom: 0.25rem;
}

select, input[type="limit"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #e17b99;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    border-color: #ffb1c7;
    outline: none;
}


button:hover {
    background-color: #bf2d59;
}


/*tag a*/
a:hover {
    color: #bf2d59;
}

a:link{
    color:#FFFFFF;
    text-decoration: none;
}

a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* 👈 แบ่งซ้ายขวา */
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    background-color: black;
    padding: 10px 25px;
    margin: 0px;
    border-radius: 0px 0px 50px 0px;

}

.left,
.right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.middle {
    display: flex;
    flex-direction: column; /*ให้ลูกเรียงตามแนวcol*/
    justify-content: center; /*กลางแนวนอน*/
    align-items: center; /*กลางแนวตั้ง*/
    height: 100vh;
}

img{
    border-radius: 100% 100% 100% 100%;
    /*display: block;*/
}


*, *::before, *::after {
    box-sizing: border-box;
}

