@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

html{
    height: 100%;
}
header{
    height: 10%;
}
body {
    /*background: linear-gradient(*/
    /*        to bottom right,*/
    /*        rgba(25, 24, 24) 0%,*/
    /*        rgba(37, 36, 36) 70%,*/
    /*        rgb(108, 60, 90) 100%*/
    /*);*/
    background-image:
            linear-gradient(
                    rgba(0, 0, 0, 0.6),
                    rgba(0, 0, 0, 1)
            ),
            url("/bg_vinyl1.jpg"); /* ไม่ต้องมี /static ถ้าไฟล์อยู่ใน static */

    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-attachment: fixed; /* <<< ตัวนี้สำคัญ */
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-family: Kanit;
    height: 100%;
}
main {
    height: 70%;
}

button {
    background-color: #f05080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    height: 50px;
}

#form {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80vw;
    margin: 2rem auto;
    padding: 50px;
    border: 1px solid #ffb1c7;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    gap: 1rem;
    color: #f05080;
}

label {
    margin-bottom: 0.25rem;
}


select, input[type="limit"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #e17b99;
    transition: border-color 0.3s;
}

select:focus, input:focus {
    border-color: #ffb1c7;
    outline: none;
}


button:hover {
    background-color: #bf2d59;
}


/*tag a*/
a:hover {
    color: #bf2d59;
}

a:link{
    color:#FFFFFF;
    text-decoration: none;
}

a:visited{
    color: #FFFFFF;
    text-decoration: none;
}

img{
    border-radius: 100% 100% 100% 100%;
}


*, *::before, *::after {
    box-sizing: border-box;
}

