<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title layout:title="Home">Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="middle">
        <h1>Are you ready to find your top item on spoify</h1>
        <a href="/login">
            <button type="button">Let's Go</button>
        </a>
    </div>
</div>
</body>
</html>


<!--<script th:inline="javascript">-->
<!--    const goLogin = () => {-->
<!--        // ดึง origin เช่น https://example.com-->
<!--        const baseUrl = window.location.origin;-->

<!--        // สร้าง URL เต็ม-->
<!--        const loginUrl = `${baseUrl}/login`;-->
<!--        //-->
<!--        // // เปิดหน้าต่างใหม่ขนาด 400x400 ที่ตำแหน่งซ้าย 600 บน 200-->
<!--        // window.open(loginUrl, '_blank', 'width=400,height=400,top=200,left=600');-->
<!--window.location.href = '/login';-->
<!--        -->
<!--    }-->
<!--</script>-->