<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<main layout:fragment="content" class="container">

    <div class="row">
        <h1 class="text-center mb-3 mt-4">Your Spotify User Profile</h1>

        <div th:if="${error}" class="col-12">
            <p th:text="${error}" class="text-danger"></p>
        </div>

        <div th:if="${user == null}" class="col-12">
            <p class="text-danger">Please login before use this website</p>
        </div>

        <!--=================USER not null=======================    -->
        <th:block th:unless="${user == null}">
            <img th:src="${user.images[0].url}" alt="User Image" class="col-4"/>
            <div class="col-8">
                <p><strong>Display Name:</strong> <span th:text="${user.display_name}"></span></p>
                <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
                <p><strong>Country:</strong> <span th:text="${user.country}"></span></p>
            </div>
            <div>
                <div th:each="item : ${artist_following.artists.items}">
                    <p th:text="${item.name}"></p>
                </div>
            </div>
        </th:block>
    </div>

    <th:block th:if="${user!=null}">
        <a href="/topItem">
            <button type="button">TopItem Page</button>
        </a>
    </th:block>
    <th:block th:if="${user==null}">
        <a href="/login">
            <button type="button">login your spotify</button>
        </a>
    </th:block>
</main>
</body>
</html>


<!--    <div th:if="${user != null}" class="text-center ">
        <div class="d-flex flex-column mx-auto my-4 p-4 border rounded shadow "
             style="
             max-width: 80vw;
             background-color: rgba(0, 0, 0, 0.6);
             gap: 1rem; color: #ffffff; ">
            <img th:src="${user.images[0].url}" alt="User Image" width="200" class="align-self-center"/>
            <p><strong>Display Name:</strong> <span th:text="${user.display_name}"></span></p>
            <p><strong>Email:</strong> <span th:text="${user.email}"></span></p>
            <p><strong>Country:</strong> <span th:text="${user.country}"></span></p>
        </div>
 </div>-->